page-register {
  .iconsize{
    font-size: 200px;
  }
  .mainmenu{
    position: relative;
    top: 100px;
  }
  .footer{
    top:520px;
    text-align: center;
  }
  .error{
    color: red;
    text-align: center;
  }
}
